.header__div--container {
  height: 64px;
  min-height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 20px rgba(90, 125, 141, 0.16);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
}
.left-header--content {
  display: flex;
  height: 100%;
  padding-left: 29px;
  box-sizing: border-box;
  column-gap: 25px;
  align-items: center;
}
.indexing-content {
  height: 100%;
  display: flex;
  column-gap: 10px;
  opacity: 0.7;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.indexing-content span {
  font-size: 16px;
  font-family: MyFont;
}
.router-link-active {
  font-weight: bold;
  color: var(--header-effect-color);
  border-bottom: 2px solid var(--header-effect-color);
  box-sizing: border-box;
}
.right-header--content {
  display: flex;
  height: 100%;
  column-gap: 8px;
  box-sizing: border-box;
  padding: 9px 16px;
  position: relative;
}
.right_content--icon {
  transform: scale(0.7);
  width: 35px;
  cursor: pointer;
}
.user-information {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.user-information p {
  opacity: 0.8;
}
.user-information span {
  opacity: 1;
  font-weight: bold;
}
.avatar {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}
.tooltip {
  position: absolute;
  bottom: -25px;
  left: 42px;
  font-size: 14px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.449);
  border-radius: 4px;
  padding: 7px 8px;
  display: none;
  transition: 0.25 ease-in-out;
}
.right_content--icon:hover + .tooltip {
  display: block;
}
.help {
  left: 85px;
}
.alert {
  left: 122px;
}
